@layout-pc-header-height: 80px;

@layout-pc-footer-height: 50px;

@layout-pc-aside-top: calc(@layout-pc-header-height + 40px);
@layout-pc-aside-left: 80px;
@layout-pc-aside-width: 300px;
@layout-pc-aside-height: 300px;

@layout-pc-main-padding-left: calc(@layout-pc-aside-left + @layout-pc-aside-width + 60px);
@layout-pc-main-padding-top: 40px;
@layout-pc-main-height: calc(100vh - @layout-pc-aside-top);

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: @layout-pc-header-height;
}

.main {
  min-height: @layout-pc-main-height;
  padding-left: @layout-pc-main-padding-left;
  padding-top: @layout-pc-main-padding-top;
}

.aside {
  position: fixed;
  width: @layout-pc-aside-width;
  height: @layout-pc-aside-height;
  top: @layout-pc-aside-top;
  left: @layout-pc-aside-left;
}

.footer {
  height: @layout-pc-footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
