
<article class="post">
  <div class="post-wrap">
    <h1 class="post-title"><%=page.title%></h1>
    <%-page.content%>
  </div>
</article>

<div class="paginator">
  <div class="paginator-wrap">
    <%-paginator()%>
  </div>
</div>
