@font-face {
  font-family: "iconfont"; /* Project id 3765730 */
  src: url('../iconfont/iconfont.woff2') format('woff2'),
       url('../iconfont/iconfont.woff') format('woff'),
       url('../iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziliaoku:before {
  content: "\e600";
}

.icon-guanli:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\e602";
}

.icon-lianjie:before {
  content: "\e603";
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-lianjie1:before {
  content: "\e646";
}

.icon-zhengque:before {
  content: "\e664";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-40401:before {
  content: "\e658";
}

.icon-fangkeshu:before {
  content: "\e65e";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-shalou:before {
  content: "\e62e";
}

.icon-icon-test:before {
  content: "\e654";
}

.icon-sousuo1:before {
  content: "\e632";
}

.icon-biaoqian1:before {
  content: "\eabd";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-shuji:before {
  content: "\e68f";
}

.icon-wusousuojieguo:before {
  content: "\e65c";
}

.icon-yuedu:before {
  content: "\e621";
}

.icon-shijian1:before {
  content: "\e8c5";
}

.icon-yuedu1:before {
  content: "\e604";
}

.icon-sousuojieguo:before {
  content: "\e667";
}

.icon-yueduliang:before {
  content: "\e608";
}

