
<% if (page.posts.length > 0) { %>
  <div class="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(post => { %>
      <div class="recent-posts__item">
        <h2 class="recent-posts__item-title">
          <%-partial('components/link', {
            props: {
              href: url_for(post.path)
            }, 
            content: post.title
          })%>
        </h2>
        <div class="recent-posts__item-info">
          <div class="recent-posts__item-post-time">
            发布时间：<%=date(post.date)%>
          </div>
          <div class="recent-posts__item-post-time">
            编辑时间：<%=date(post.updated)%>
          </div>
        </div>
        <div class="recent-posts__item-description">
          <%=stringCut(post.content, 20)%>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
